<li>
    <p>
        <% if((locals.user)&&(locals.user.id == comment.user.id)){%>
            <small>
                <a id="delete-button" href="/comments/destroy/<%=comment.id%>">
                    <i class="fa-solid fa-eraser"></i>
                </a>
            </small>
        <%}%>
        <%= comment.content %>
        <br>
        <small>
            <% if (comment.user && comment.user.name) { %>
                <%= comment.user.name %>
            <% } else { %>
                Unknown User
            <% } %>
        </small>
    </p>
</li>