#footer {
    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; // Ensure it appears above other content

    #pages {
        display: flex;
        align-items: center;
        margin-right: auto; // Push other content to the right
    }

    a {
        margin-left: 10px;
        text-decoration: none;
        color: #dadada;
        transition: color 0.3s ease; // Smooth transition for color change

        &:hover {
            color: white; // Change color on hover
        }
    }
}

#post-list-container {
    margin-bottom: 50px; // Ensure enough space below the post container for the footer
}
