#footer {
    padding: 10px; // Adjust padding as needed
    background-color: #777;
    display: flex;
    justify-content: flex-start;
    align-items: center; // Align items vertically
    color: #dadada; // Text color
    font-size: 13px;
    position: fixed; // Fixed position to keep it at the bottom
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; // Ensure it appears above other content

    #pages {
        display: flex;
        align-items: center;
        margin-right: auto; // Push other content to the right
    }

    a {
        margin-left: 10px;
        text-decoration: none;
        color: #dadada;
        transition: color 0.3s ease; // Smooth transition for color change

        &:hover {
            color: white; // Change color on hover
        }
    }
}

#post-list-container {
    margin-bottom: 50px; // Ensure enough space below the post container for the footer
}
