#footer {
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; }
  #footer #pages {
    display: flex;
    align-items: center;
    margin-right: auto; }
  #footer a {
    margin-left: 10px;
    text-decoration: none;
    color: #dadada;
    transition: color 0.3s ease; }
    #footer a:hover {
      color: white; }

#post-list-container {
  margin-bottom: 50px; }
