#header {
  padding: 0;
  background-color: #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dadada;
  font-weight: bold; }
  #header a {
    text-decoration: none;
    color: #dadada;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 15px; }
    #header a:hover {
      transition: all;
      text-decoration: underline;
      color: white; }
  #header #codeial {
    margin: 0;
    text-align: center; }
  #header ul {
    margin: 0; }
