#delete-button {
  text-decoration: none;
  color: #777; }
  #delete-button:hover {
    transition: all;
    color: black; }

#home-container {
  display: flex;
  height: 100%; }
  #home-container #feed-posts {
    background-color: #ccc;
    width: 100%;
    /* Set the width of the container */
    min-height: 100px;
    /* Set the minimum height of the container */
    border: 1px solid #ccc;
    /* Add a border for visibility */
    overflow: auto;
    /* Add scrollbars if the content exceeds the container size */
    padding: 10px;
    /* Add padding to the container */
    box-sizing: border-box; }
  #home-container #users-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey; }
